$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background-color: #F9F9F9;
}
.container{
  background-color: white;
}

.col-centered{
  float: none;
  margin: 0 auto;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    background-color: #F9F9F9;
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.lat-long-button{
  width: 230px;
}

.lat-long-button-wrapper{
  margin: 10px 0px 5px 0px;
}

.lat-long-table{
  width: 230px;

  td.latlongtitle{
    width: 75px;
  }
  tr{
    margin: 5px 0px;
  }
  .lat-long-row-spacer{
    height: 5px;
  }
}

.address{
  margin-bottom: 5px;
}

.spinner-draw {
  left: 24px !important;
  top: 24px !important;
}
.spinner-holder{
  position: fixed;
  top: 50%;
  left: 35%;
  border-style: solid;
  border-width: 1px;
  width: 192px;
  border-radius:2em;
  background-color: rgb(181, 181, 176);
  bacopacity: 0.4;
}

.absolute-center{

  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.spinner-text{
  margin-left: 24px;
  padding-left: 6px;
  font-size: 32px;
}

.content-box{
  border-color: #c9c9c9;
  border-style: solid;
  border-width: 1px;
  padding-bottom: 10px;
  background-color: white;
}

.navbar-top{
}

.nav-image{
  float: left;
}
.nav-container{
  border-color: #c9c9c9;
  border-style: solid;
  border-width: 1px;
  background-color: white;
}

.media-object{
  border-color: #c9c9c9;
  border-style: solid;
  border-width: 1px;
}
.navbar-default {
  border-color: #F9F9F9;
}
