<div class="container">
  <div class="row content-box">
    <div class="col-sm-12 col-centered">

    <markdown>
<!--
  * [Developer - Greg Lawson](https://github.com/glawson6)

  ##Overview

  Spoonscore is an app that allows people to search for restaurants in their area. The app allows the user to find
  a restaurant, view a Yelp rating with possible inspection score and grade.

  The app will determine a location from a City, State , Zip Code ,Longitude or Latitude. The app will also
  determine a county in which to query for inspection reports. Web summary for inspection reports, the actual
  report or manual searches are available to view per restaurant.

  Spoonscore is a Java/Spring/AngularJS project created for the General Assembly Web Development Immersive program
  in Atlanta, GA.

  ##Technologies Used
  * Sprint Boot
  * Spring MVC
  * JPA/Hibernate
  * Tomcat
  * Java
  * JavaScript
  * JQuery
  * AngularJS
  * Easel JS
  * HTML5
  * CSS3
  * Bootstrap
  * Animate
  * Yeoman
  * Bower
  * Grunt
  * Gradle
  * Groovy
  * PostgreSQL
  * Responsive Design


  ##Links
  * [Site on taptech.net](http://spoonscore.taptech.net)
  * [Trello board](https://trello.com/b/inkNmpb7/spoonscore)

  ##User Stories
  * User should be able to enter location by city and state to search for restaurants.
  * User should be able to enter location by zipcode to search for restaurants.
  * User should be able to enter location by longitude and latitude to search for restaurants.
  * User should be able to view inspection scores and grades if it exists.
  * User should be able to view inspection web summary if it exists.
  * User should be able to view inspection report if it exists.
  * User should be able to manually search for inspection reports.
-->
</markdown>
      <h2>Overview</h2>
      <p>Spoonscore is an app that allows people to search for restaurants in their area. The app allows the user to find
        a restaurant, view a Yelp rating with possible inspection score and grade.</p>
      <p>The app will determine a location from a City, State , Zip Code ,Longitude or Latitude. The app will also
        determine a county in which to query for inspection reports. Web summary for inspection reports, the actual
        report or manual searches are available to view per restaurant.</p>
      <p>Spoonscore is a Java/Spring/AngularJS project created for the General Assembly Web Development Immersive program
        in Atlanta, GA.</p>
      <h2>Technologies Used</h2>
      <ul>
        <li>Sprint Boot       </li>
        <li>Spring MVC        </li>
        <li>JPA/Hibernate     </li>
        <li>Tomcat            </li>
        <li>Java              </li>
        <li>JavaScript        </li>
        <li>JQuery            </li>
        <li>AngularJS         </li>
        <li>Easel JS          </li>
        <li>HTML5             </li>
        <li>CSS3              </li>
        <li>Bootstrap         </li>
        <li>Animate           </li>
        <li>Yeoman            </li>
        <li>Bower             </li>
        <li>Grunt             </li>
        <li>Gradle            </li>
        <li>Groovy            </li>
        <li>PostgreSQL        </li>
        <li>Responsive Design </li>
      </ul>
      <h2>Links</h2>
      <ul>
        <li><a href="http://spoonscore.taptech.net">Site on taptech.net</a> </li>
        <li><a href="https://trello.com/b/inkNmpb7/spoonscore">Trello board</a> </li>
      </ul>
</div>
</div>
 </div>
